.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navigation {  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: #6059bd;
  position: fixed;
  width: 100%;
  height: 60px;
}

.logoMatrice {
  width: 180px;
}

.navbar-nav {
  display: flex;
}

.nav-link {
  color: white;
  margin-left: 20px;
  font-size: 25px;
  text-decoration: none;
}

.nav-item {
  list-style-type: none; 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
