
.navigation {  
  align-items: center;
  background-color: #6059bd;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 60px;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}

.logoMatrice {
  width: 180px;
}

.navbar-nav {
  display: flex;
}

.nav-link {
  color: white;
  margin-left: 20px;
  font-size: 25px;
  text-decoration: none;
}

.nav-item {
  list-style-type: none; 
}

.App-link {
  color: #61dafb;
}

.listItems {
  padding-top: 80px;
}

thead th {
  padding: 5px;
}

tbody td {
  padding: 5px;
}

